# Binaries
/bin/
*.exe
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.out

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local

# Vendor (nếu không commit vendor)
# vendor/

# Tmp (air hot reload)
tmp/

# Build
dist/

docs/

build/

config/production.yaml
config/staging.yaml

logs/